.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1200px;
  padding-top: 16px;
  flex-grow: 1;
}

.input__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconButton {
  background: none;
  padding: 0;
}

.iconButton svg {
  stroke: #ababab;
}

.input {
  font-size: 0.875rem;
  border-radius: 8px;
  border: 1px solid #cbcbcb;
  outline: none;
  padding: 12px;
  width: 22ch;
  transition: 0.3s ease;
}

.input:focus {
  border-color: #ababab;
  width: 32ch;
}
