.button {
  cursor: pointer;
  padding: 8px 28px;
  font-size: 1.125rem;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background-color: transparent;
}

.filled {
  background-color: #2563eb;
}

.text {
  color: black;
}

.error {
  background-color: #d32f2f;
}

.text:hover {
  background-color: #efefef;
}

.text:active {
  background-color: #e1e1e1;
}

.button:disabled {
  cursor: default;
  color: #9e9e9e;
  pointer-events: none;
}
